body {
    font-family: poppins;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-image: url(../img/blackjack\ texture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    height: 100vh;
    color: #fff;
}

.col-left-wrapper {
    border: 5px solid #fff;
    background: #050;
    box-shadow: 0 15px 20px rgba( 0,0,0, 80%);
    height: 50vh;
    padding: 4em;
    border-radius: 30px;
}

.Title {
    color: goldenrod;
}

#message {
    font-style: italic;
}

button {
    display: block;
    margin: 0 auto 10px;
    width: 80%;
    border: none;
    border-radius: 5px;
    padding: .8em 2em;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

#startGame-el {
    background: #a00;
    border: 1px solid goldenrod;
    color: goldenrod;
    transition: .1s;

    &:hover {
        background: #c00;
        scale: (1.05);
        transition: .2s;
    }
    &:active {
        background-color: #a00;
        scale: (0.9);
        transition: .2s;
    }
}

#newCard-el {
    background: goldenrod;
    border: 1px solid #fff;
    color: #a00;
    transition: .1s;

    &:hover {
        background: #ffbb4e;
        scale: (1.05);
        transition: .2s;
    }
    &:active {
        background: goldenrod;
        scale: (0.9);
        transition: .2s;
    }
}

